<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--5-col"></div>
  <div class="mdl-cell mdl-cell--3-col ">
    <%= image_tag 'triki' %>
    
    <div class="mdl-card mdl-shadow--2dp mdl-cell--middle">
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Iniciar Sesión</h2>
        </div>
        <div class="mdl-card__supporting-text">
            <%= form_tag '/login' do %>
                Correo: <%= text_field_tag :email,nil, :class => 'mdl-textfield__input' %>
                Clave: <%= password_field_tag :password, nil,  :class => 'mdl-textfield__input'  %>
                
        </div>
        <div class="mdl-card__actions mdl-card--border mdl-typography--text-center">
            <%= submit_tag "Entrar", class: "mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" %>
            <% end %>
            <%= link_to 'Crear cuenta', 'welcome/signup', method: :get ,class: 'mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect' %>
            <!--<a class="">
            Crear cuenta
            </a>-->
        </div>
    </div>
  </div>
  <div class="mdl-cell mdl-cell--4-col"></div>
</div>

   
