<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--4-col"></div>
  <div class="mdl-cell mdl-cell--4-col">
      <div class="mdl-cell--3-offset">
        <%= image_tag @user.gravatar_url %>
      </div>
        <div><h4><%= @user.email %></h4></div>
        <div><h5>Partidas Jugadas</h5><%= @user.total_games %></div>
        <div><h5>Partidas Ganadas</h5><%= @user.won_games %></div>
        <div><h5>Partidas Perdidas</h5><%= @user.lost_games %></div>
        <div class="mdl-cell--3-offset">
          <%= link_to 'Jugar Partida', welcome_game_path, method: :get, class: "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" %>
      </div>
  </div>
  <div class="mdl-cell mdl-cell--4-col"></div>
</div>

