<h1>Registro</h1>

<%= form_for :user, url: '/register' do |f| %>

  Correo: <%= f.text_field :email, required: true %>
  Clave: <%= f.password_field :password, required: true %>
  Confirme la clave: <%= f.password_field :password_confirmation, required: true %>
  <%= f.submit "Crear" %>
<% end %>