<!DOCTYPE html>
<html>
<head>
  <title>TriquiOnline</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!--<link rel="stylesheet" href="./material.min.css">
  <script src="./material.min.js"></script>-->
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <%= action_cable_meta_tag %>
</head>
<body>
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <%= render 'header' %>
    <main class="mdl-layout__content">
    <% flash.each do |name, msg| -%>
      <%= content_tag :div, msg, class: name %>
    <% end -%>
      <div class="page-content"><!-- Your content goes here -->
        <%= yield %>
      </div>
    </main>
      <%= render 'footer' %>
  </div>
    <div id="demo-toast-example" class="mdl-js-snackbar mdl-snackbar">
        <div class="mdl-snackbar__text"></div>
        <button class="mdl-snackbar__action" type="button"></button>
    </div> 
</body>
</html>
